services:
  api:
  build: .
  container_name: lawrag-api
  command: uvicorn api.main:app --host 0.0.0.0 --port 8000 --reload
  volumes:
    - ./:/app
  ports:
    - "8000:8000"
  depends_on:
    - chroma
  environment:
    CHROMA_HOST: chroma
    CHROMA_PORT: 8001
    PYTHONUNBUFFERED: 1
  restart: unless-stopped

  chroma:
    image: chromadb/chroma:1.3.6.dev29
    container_name: lawrag-vector-db
    volumes:
      - chroma_data:/chroma
    ports:
      - "8001:8000"
    environment:
      IS_PERSISTENT: "TRUE"
    restart: unless-stopped

volumes:
  chroma_data: